#header {
    /*porpiedad que permite alterar la altura*/
    height: 100vh;
    background-image: url("../img/20208178563492_1.jpg");
    background-position: center;
    background-size: cover;
}

#añaxdlol {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgba(170, 161, 161, 0.815);
    border-radius: 10px;
    font-size: 60px;
}

#h1-main {
    text-align: center;
}

.wave {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

body {
    margin: 0;
    background-color: rgb(200, 205, 209);
}

#header h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
}


/* Diseño Responsive */

@media only screen and (max-width: 800px) {
    #header h1 {
        padding: 1%;
        font-size: 40px;
    }
}

#main {
    padding-left: 20%;
    padding-right: 20%;
}

#main p {
    font-size: 20px;
}

#main h1 {
    font-size: 40px;
}

iframe {
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 800px) {
    #main {
        padding-left: 1%;
        padding-right: 1%;
        font-size: 40px;
    }
    #main p {
        font-size: 15px;
    }
    #main h1 {
        font-size: 35px;
    }
}

.imag {
    width: 100%;
}

footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(163, 159, 159);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}